PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/<database>?retryWrites=true&w=majority
CLIENT_URL=https://mern-frontend-<student-id>.onrender.com
BACKEND_URL=https://mern-backend-<student-id>.onrender.com
